# {{ ansible_managed }}

/var/log/buildbox.log {
    daily
    missingok
    notifempty
    rotate 7
    compress
    # Until buildbox accepts HUP signals for logrotate this will do the job.
    copytruncate
    endscript
}
